<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Remember"
        android:supportsRtl="true"
        android:theme="@style/Theme.Projekt_Android_259313"
        tools:targetApi="30">

        <activity
            android:name=".fragments.list.ListAdapter"
            android:exported="false" />
        <activity
            android:name=".data.EventViewModel"
            android:exported="false" />
        <activity
            android:name=".data.EventRepository"
            android:exported="false" />
        <activity
            android:name=".data.EventDatabase"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>